services:
  cliente:
    image: nicolaka/netshoot
    networks:
      red_externa:
        ipv4_address: 10.0.1.10
    command: sleep infinity

  firewall:
    build:
      context: .
      dockerfile: Dockerfile.firewall
    privileged: true
    sysctls:
      - net.ipv4.ip_forward=1
    networks:
      red_externa:
        # CAMBIADO: La .1 es para el bridge, usamos la .2
        ipv4_address: 10.0.1.2 
      red_interna:
        # CAMBIADO: La .1 es para el bridge, usamos la .2
        ipv4_address: 192.168.1.2
    command: sleep infinity

  servidor:
    image: nginxdemos/hello
    networks:
      red_interna:
        ipv4_address: 192.168.1.10
    # Importante: La puerta de enlace del servidor es el firewall (la .2)
    entrypoint: /bin/sh -c "ip route del default && ip route add default via 192.168.1.2 && nginx -g 'daemon off;'"

networks:
  red_externa:
    ipam:
      config:
        - subnet: 10.0.1.0/24
  red_interna:
    ipam:
      config:
        - subnet: 192.168.1.0/24
