services:
  gns3-server:
    build: .
    container_name: gns3-server
    restart: unless-stopped
    network_mode: host
    privileged: true
    volumes:
      - ./config:/root/GNS3/configs
      # Cambiamos el montaje a la ruta interna real de GNS3
      - ./projects:/root/GNS3/projects 
      - ./images:/root/GNS3/images
      - /lib/modules:/lib/modules:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
  wireshark:
    image: lscr.io/linuxserver/wireshark:latest
    container_name: wireshark
    restart: unless-stopped
    privileged: true
    ports:
      - "3001:3000" # Mapeamos el puerto 3001 (host) al 3000 (web interno)
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ./projects:/storage/gns3-projects
  #wireshark-custom:
  #  build:
  #    context: .
  #    dockerfile: Dockerfile.wireshark
  #  container_name: wireshark-custom
  #  restart: unless-stopped
  #  user: root
  #  ports:
  #    - "3008:6080"
  #  privileged: true
  #  volumes:
  #    # Montamos la carpeta del host donde GNS3 guarda los proyectos
  #    - ./projects:/storage/gns3-projects
  #  environment:
  #    - TZ=Europe/Madrid
  #wireshark:
  #  image: linuxserver/wireshark:latest
  #  container_name: wireshark
  #  restart: unless-stopped
  #  network_mode: host
  #  privileged: true
  #  shm_size: "1gb" # Obligatorio para evitar el fondo negro
  #  environment:
  #    - PUID=1000
  #    - PGID=1000
  #    - TZ=Europe/Madrid
  #    - CUSTOM_PORT=3008
  #    - CUSTOM_HTTPS_PORT=3009
  #    # Estas dos variables desactivan la aceleración hardware que suele romper el stream en Docker
  #    - DISPLAY=:1
  #    - OC_DISABLE_GL=1
  #  volumes:
  #    - ./projects:/storage/gns3-projects
  #    - /tmp/.X11-unix:/tmp/.X11-unix # Permite que se conecte al servidor gráfico correctamente
  # Grafana: Visualización (Cambiado al puerto 3002 para evitar conflicto con Wireshark)
#  grafana:
#    image: grafana/grafana:latest
#    container_name: grafana
#    restart: unless-stopped
#    network_mode: host
#    environment:
#      - GF_SERVER_HTTP_PORT=3002
#      - GF_SECURITY_ADMIN_PASSWORD=admin
#    volumes:
#      - grafana-storage:/var/lib/grafana
#
#  # Prometheus: La base de datos
#  prometheus:
#    image: prom/prometheus:latest
#    container_name: prometheus
#    restart: unless-stopped
#    network_mode: host
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#      - prometheus-data:/prometheus
#
#  # SNMP Exporter: El adaptador
#  snmp-exporter:
#    image: prom/snmp-exporter:latest
#    container_name: snmp-exporter
#    restart: unless-stopped
#    network_mode: host

volumes:
  prometheus-data:
  grafana-storage:
